@charset "utf-8";


table{
	
	border: 1px solid #222;
	
}
th{
	border: 1px solid #111;
	background-color:#999;
	
	
}

td{
	border: 1px solid #111;
	background-color:#ddd;
	padding:5px;
	text-align:center;
	
}